<!DOCTYPE html>
<htmL>
    <head>
        <title>PTS 2.0</title>
    </head>
    <body>
        <h1>Daftar Hadir</h1>
        <form action='/indicator_list/' method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Tampilkan" />
        </form>
        {% for framework in frameworks %}
        {{ framework.name }}
        <table border="1">
            <thead>
                <tr>
                    {% for stage in stages %}
                    <td>{{ stage.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            <tr>
                {% for framedesc in framedescs %}
                {% if framedesc.framework.name == framework.name %}
                {% for stage in stages %}
                {% if framedesc.stage.name == stage.name %}
                <td>{{ framedesc.descriptor }}</td>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                {% for stage in stages %}
                    <td align="left" valign="top">
                        <ul>
                    {% for list in indicator_list %}
                        {% if framework.name == list.framework.name %}
                            {% if stage.name == list.stage.name %}
                                <li>&#9633; {{ list.name }}</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% endfor %}
        <p><a href="/">Kembali ke Profil</a></p>
    </body>
</htmL>